/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a{color: #fff; text-decoration: none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}

/*--------------------*/

body{
	background-color: #0B0B0B;
	color: #fff;
	font-size: 24px;
	line-height: 28px;
	font-family: Roboto Condensed, serif;
	font-weight: 400;
}

.header{
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 5;
	background: rgba(0, 0, 0, 0.3);

}

.header__background-image{
	width: 100vw;
	height: 100vh;
	background-image: url(/HTML-CSS_2/images/header/slide1.jpg);
	background-size: cover;
	margin-bottom: 105px;
}

.container{
	padding: 0, 15px;
	max-width: 1230px;
	margin: 0 auto;
}

.header-top{
	display: flex;
	justify-content: space-between;

}

.logo{
	margin-top: 32px;
	margin-bottom: 29px;
}

.header-btn{
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	margin-top: 31px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header-btn div{
	width: 36px;
	height: 2px;
	background-color: #fff;
	margin: 5px 0;
}

.header-content__title{
	margin-bottom: 40px;
	font-family: Roboto, serif;
	font-size: 96px;
	line-height: 112px;
	
}

.header-content__text{
	width: 284px;
	margin-bottom: 25px;
	font-family: Roboto Condensed, serif;
	font-size: 24px;
	line-height: 28px;
}

.header-content__btn{
	display: inline-block;
	padding: 30px 62px;
	margin-bottom: 90px;
	border: 1px solid #FFFFFF;
	background: rgba(255, 255, 255, 0.15);
	font-weight: 700;
	transition: all .5s;
}
.header-content__btn:hover{background: #770302;}

.heder-content__btn-slide{
	width: 84px;
	display: flex;
	justify-content: space-between;
}

.btn-slide{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #0B0B0B;
}

.btn-slide:focus{
	background-color: #fff;
}


.description__indicators{
	width: 1073px;
	/*height: 195px;*/
	display: flex;
justify-content: space-between;
margin: 0 auto;
margin-bottom: 100px;
}

.description__indicators-item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

}
.description__indicators-item1{
	margin-bottom: 19px;
}

.description__indicators-item2{
	display: flex;
margin-bottom: 7px;
align-items: flex-end;
}
.description__indicators-item2-1{
	font-size: 96px;
	line-height: 112px;
	margin-right: 8px;
}
.description__indicators-item2-2{
	line-height: 60px;
}
.description__indicators-item3{
	color: #B70021;
}
.description__video{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 100px;
}

.description__speed{
	max-width: 1200px;
	min-height: 900px;
	margin: 0 auto;
	margin-bottom: 100px;
position: relative;
}

.description__speed-title-speed{
	max-width: 570px;
	color: #B70021;
position: absolute;
top: 0;
left: 0;

}

.description__speed-text-speed{
	width: 300px;
position: absolute;
top: 140px;
left: 0;
}

.description__speed-image-speed{
width: 500px;
position: absolute;
top: 0;
right: 0;
}

.description__speed-title-benefits{
	min-width: 570px;
	color: #B70021;
	text-align: right;
position: absolute;
bottom: 0;
right: 0;
}

.description__speed-text-benefits{
	width: 250px;
position: absolute;
top: 590px;
left: 628px;

}

.description__speed-image-benefits{
width: 500px;
position: absolute;
bottom: 0;
left: 0;
}

.description__design-image{
	width: 1200px;
	margin: 0 auto;
margin-bottom: 100px;
}

.description__design-row{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.description__design-row-item-number{
color: #B70021
}

.description__design-row-item-text{
width: 450px;
padding-top: 28px;
}